# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Environment
.env
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Ignore Django migrations (for training only)
**/migrations/*.py
!**/migrations/__init__.py
